/* .count{
   position:relative;
   left: 28px;
   top:-1px;
   height: 18px;
   background: black;
  width:18px;
   border-radius: 50%;
   z-index: 3;
   text-align: center;
  font-size:15px;
 font-weight: 800;
  color:white;
}
.cart{
   height:30px;
   width:30px;
   padding:2px;
} */
.count{
   position:relative;
   left: 25px;
   top:-13px;
   height: 18px;
   background: black;
  width:18px;
   border-radius: 50%;
   z-index: 3;
   text-align: center;
  font-size:15px;
}
.cart{
   height:25px;
   width:25px;
   font-weight: bol;
   padding:2px;
}
.button1{
   font-family: 'Ubuntu', sans-serif;
   border: 1px solid red;
   width: 120px;
   height: 36px;
   line-height: 1;
   font-size: 18px;
   font-weight: bold;
   letter-spacing: 1px;
   background:rgb(0, 153, 0);
   outline: none;
   margin:5% 0% 0% 0%;
   border: none;
   color:white;
   border-radius:0.4rem;
   cursor: pointer;
   overflow: hidden;
   transition: all .5s ease-in-out;
 }

@media (max-width:600px)
{
    .button1{
        font-family: 'Ubuntu', sans-serif;
      
        width: 120px;
        height: 40px;
        line-height: 1;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        background:rgb(0, 153, 0);
        outline: none;
        margin:5% 0% 0% 0%;
        border: none;
        color:white;
        border-radius:0.4rem;
        cursor: pointer;
        overflow: hidden;
        transition: all .5s ease-in-out;
      }
}